<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"><strong>Home</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  

  <h5 class="ion-text-center">Portal de novidades no mundo dos Esportes</h5>

  <div id="container">
    <p>Versão: 1.0</p>
    <p class="ion-padding-bottom">© Developer: Renan de Souza Gomes</p>
    <a class="ion-padding" target="_blank" href="https://www.linkedin.com/in/renan-gomes-699516124/"><ion-icon size="large" name="logo-linkedin" color="dark" ></ion-icon></a>
    <a class="ion-padding" target="_blank" href="https://github.com/Renanes"><ion-icon size="large" name="logo-github" color="dark"></ion-icon></a>
  </div>
</ion-content>
