ion-menu-button {
    color: var(--ion-color-light);
}
  
ion-toolbar {
    --ion-background-color: #00362b;
}
  
ion-content {
    --background: url('../../../assets/fundo.png') no-repeat center center / cover;
}

ion-button {
    --background: #00362b;
}